<div class="logo-container d-flex justify-content-start">
  <img src="assets/logo2.png" alt="Logo" class="logo" />
</div>
<header class="bg-dark-blue text-light p-3">
  <nav>
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-1 d-flex justify-content-start">
          <!-- Placeholder for brand name -->
        </div>
        <div class="col-10 d-flex justify-content-between">
          <div class="nav-item">
            <a class="nav-link text-light" routerLink="/">Home</a>
          </div>
          <div class="nav-item">
            <a class="nav-link text-light" routerLink="/about">About</a>
          </div>
          <div class="nav-item">
            <a class="nav-link text-light" routerLink="/services">Services</a>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <!-- Placeholder for the right section (optional) -->
        </div>
      </div>
    </div>
  </nav>
</header>
