<!-- About Page Content -->
<div class="about-container">
  <h1>About Us</h1>
  <div class="container fs-5">
    <p>
      Welcome to our website! At Gem's Water Refilling Station, we are dedicated
      to providing safe, clean, and high-quality purified water for your daily
      needs. With state-of-the-art filtration systems, we ensure that every drop
      meets the highest standards of purity and taste.
    </p>
  </div>

  <!-- Contact Info Section -->
  <h2>Contact Us:</h2>
  <!-- Contact Us Section -->
  <div class="container fs-5">
    <div class="row">
      <div class="col-12 col-sm-1"></div>
      <!-- Adjust for small screens -->

      <div class="col-12 col-sm-10 text-center">
        <p>Globe: 09279327687</p>
      </div>

      <div class="col-12 col-sm-1"></div>
      <!-- Adjust for small screens -->
    </div>
  </div>
</div>
